<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>轉換Excel 暫時網站</title>
    <link href="./css/bootstrap.css" rel="stylesheet" />
  </head>

  <body>
    <form id="formUpload4">
      <div class="mb-3">
        <label for="formFile" class="form-label">4級</label>
        <input class="form-control" type="file" id="uploadExcel4" name="uploadExcel4" />
      </div>
			<div class="spinner-border" role="status" id="loadingUpload4" style="display:none">
				<span class="visually-hidden">Loading...</span>
			</div>
      <div id="resultUpload4">

      </div>
      <div>
				<button type="button" class="btn btn-primary" id="btnUpload4">送出</button>
			</div>
			
		</form>
    <script src="./js/jquery-3.6.0.min.js"></script>

    <script>
      let uploadFile = function (formName) {
        $('#btn' + formName).prop('disabled', true);
        let form = $('#form' + formName)[0];
        let data = new FormData(form);
        $('#loading' + formName ).show();
        $('#result' + formName).html("");
        $.ajax({
          type: 'POST',
          enctype: 'multipart/form-data',
          url: '/import/' + formName,
          data: data,
          processData: false,
          contentType: false,
          cache: false,
          async: true,
          timeout: 1000000,
          success: function (data) {
						
            $('#result' + formName).html("<a href='../download/"+data.fileName+"' target=\"_blank\">"+data.fileName+"</a>");
            $('#loading' + formName ).hide();
            $('#btn' + formName).prop('disabled', false);
						
          },
          error: function (e) {
            console.log('ERROR : ', e);
            $('#btn' + formName).prop('disabled', false);
          },
        });
      };


      $('#btnUpload4').on('click', function (event) {
        event.preventDefault();
        uploadFile('Upload4');
      });
    </script>
  </body>
</html>
